#search-resume {
    text-align: right;
    font-size: 4vw;
    line-height: 5vw;
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    border: transparent;
    width: 100%;
}
.entry {
	width: 100%;
	font-size: 1.5vw;
}
.name {
    text-align: right;
    font-size: 6vw;
    line-height: 6vw;
}

.about {
    font-size: 3.5vw;
    text-align: center;
    line-height: 30px;
}
.back-button {
	color: red;
}
.detail-list {
    background-color: rgba(248, 248, 248, .5);
    border-radius: 4px;
}
nav {
    text-align: center;
    margin-bottom: 0px;
    opacity: 0.5;
}
body {
    background-color: black;
    background-image: url("resources/img/me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%
    font-size: 16pt;
    background-color: rgba(248, 248, 248, .5);
    padding-left: 10px;
    padding-right: 10px;
}
html{
    min-height:100%;
    position:relative;
}
#cloud-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
}