<section>
    <script type="text/javascript">
    </script>
    <div ng-repeat='entry in entries'>
        <button class="btn btn-primary entry col-xs-12" ng-click="showDetails = !showDetails" type="button">{{entry.title}}</button>
        <div ng-show="showDetails">
            <ul class="detail-list">
                <li>Organization: {{entry.org}}</li>
                <li>Date: {{entry.date}}</li>
                <li>Details:</li>
                <ul> 
                    <li ng-repeat='detail in entry.details'>{{detail}}</li>
                </ul>
            </ul>
        </div>
    </div>
</section>